
<ion-header>
  <ion-navbar>
    <ion-title class="title">
  <h1 >TRAIN TRACKER</h1>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>
        <b>KERETA</b>
      </ion-label>
      <ion-select [(ngModel)]="kereta.kereta" (ionChange)="onChange(kereta.kereta)">
        <ion-option *ngFor="let item of kereta" value="{{item.nama}}">{{ item.nama }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>
        <b>STASIUN KEBERANGKATAN</b>
      </ion-label>
      <ion-select [(ngModel)]="statiuns" (ionChange)="mulaiDariStatiun(statiuns)">
        <ion-option *ngFor="let item1 of statiun" value="{{item1.nama}}">{{ item1.nama }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <h6>Statiun Selanjutnya : {{stasiunTujuan}}</h6>
  <h6>Distance : {{getJarakStatiunTerdekat()}}</h6>
  <h6>Distance to destination : {{getJarakStatiunAkhir()}}</h6>
  <h6>Speed : {{getSpeed()}}</h6>
  <h6>ETA : {{getETA()}}</h6>
  <div #map id="mymap" style="weight:80%;height:80%;"></div>
</ion-content>